.item_description  {
	display:none;
	padding:20px;
	margin:0px;
	background-color:#eeeeee;
}

nav .button-collapse i {
    font-size: 25px;
    height: 56px;
    line-height: 56px;
	padding:0px 0px 0px 10px;
}




